.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    56deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 240, 222, 1) 48%,
    rgba(77, 225, 255, 1) 100%
  );
  min-height: 100vh;
}
